.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  
  .nav {
    display: flex;
  }
  
  .navList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    margin-left: 20px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navLink:hover {
    color: #aaa;
  }
  .logoIcon {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
    font-size: 2em;   /* Ajuste o tamanho do ícone */
    color: #ffffff;     /* Cor do ícone */
  }
  